.acerca-de-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.about-image {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  border-radius: 8px;
}

.about-text {
  font-size: 1rem;
  line-height: 3;
  font-weight: 600;
  margin: 28px;
  color: #111;
}

.about-text h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #111;
}

.about-text p {
  margin-bottom: 1rem;
}

.about-text strong {
  font-weight: bold;
  color: #3db462;
}