:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

/* Asegura que el body y html ocupen toda la altura */
html,
body {
  height: 100%;
  margin: 0;
}

a {
  font-weight: 500;
  color: #3db462;
  text-decoration: inherit;
}

a:hover {
  color: #3db462;
}


h1 {
  font-size: 2.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.producto-container {
  flex: 1;
  padding: 1rem;
  /* opcional */
  min-height: calc(100vh - 200px);
}

.loading-img {
  display: block;
  margin: 0 auto;
  width: 100px;
  /* Ajusta el tamaño según sea necesario */
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding: 2rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  margin: 2rem auto;
  max-width: 600px;
}

.not-found h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #e74c3c;
}

.not-found h3 {
  font-size: 1.5rem;
  color: brown;
}

@media (max-width: 600px) {
  .not-found h1 {
    font-size: 2.2rem;
  }

  .not-found h3 {
    font-size: 1.2rem;
  }
}


footer {
  background-color: #111;
  padding: 10px;
  text-align: center;
  color: wheat;
  margin-top: 20px;
  box-shadow: 0 -4px 10px rgba(9, 154, 81, 0.3);
  /* sombra verde hacia arriba */
}


@media (max-width: 768px) {

  .loading-img {
    width: 80px;
    /* Ajusta el tamaño de la imagen de carga en pantallas pequeñas */
  }

  .loading-img img {
    width: 100%;
    margin-top: 180px;
  }

  footer {
    font-size: 0.9em;
    /* Reduce el tamaño de fuente del footer en pantallas pequeñas */
  }

}