header {
  background: transparent;
  height: 50px;
}

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #111;
  color: white;
  padding: 0 20px;
  box-shadow: 0 4px 10px rgba(9, 154, 81, 0.3);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 86px;
}

.logo img {
  width: 60px;
  border-radius: 35%;
}

.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

ul.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 25px;
}

ul.menu li {
  position: relative;
}

.link {
  text-decoration: none;
  color: wheat;
  font-size: 16px;
  transition: color 0.3s;
}

.link:hover,
.link.active {
  color: #099a51;
  border-bottom: 2px solid #099a51;
}

.btnCart {
  background: transparent;
  border: none;
  cursor: pointer;
}

nav .fa-cart-shopping {
  color: #3db362;
  font-size: 18px;
}

.cart-icon-container {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 6px;
}





.marquesina-container {
  overflow: hidden; /* oculta el texto que sale del contenedor */
  width: 100%;
  margin-top: 70px;
  background-color: #099a51;
  height: 45px;
}

.marquesina-texto {
  display: inline-block;
  white-space: nowrap;
  animation: deslizar 10s linear infinite;

}

.marquesina-texto span {
  color: #f3ddb2;
  font-size: initial;
  font-weight: 500;
}

@keyframes deslizar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* === Responsive === */
@media (max-width: 786px) {
  .menu-icon {
    display: block;
  }

  ul.menu {
    position: absolute;
    top: 86px;
    left: 0;
    background-color: #111;
    width: 100%;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  ul.menu.active {
    max-height: 500px;
    padding-bottom: 10px;
  }

  ul.menu li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }
}